{% extends "base.html" %}
{% block content %}
<div class="row clearfix">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-red">
                <i class="material-icons">error</i>
            </div>
            <div class="content">
                <div class="text">FINE AMOUNT PAID</div>
                <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">125</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-amber">
                <i class="material-icons">equalizer</i>
            </div>
            <div class="content">
                <div class="text">BURNING INCIDENTS REPORTED</div>
                <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">257</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-light-green">
                <i class="material-icons">shopping_cart</i>
            </div>
            <div class="content">
                <div class="text">SUCCESSFUL STALK COLLECTION</div>
                <div class="number count-to" data-from="0" data-to="117" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-light-blue">
                <i class="material-icons">build</i>
            </div>
            <div class="content">
                <div class="text">NODES REPLACED</div>
                <div class="number count-to" data-from="0" data-to="1432" data-speed="1500" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
</div>

<div class="block-header">
    <h2>NOTICES</h2>
</div>

<div class="row clearfix">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Notice 1 <small>Description text here...</small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="timer">
                            <i class="material-icons">loop</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis neque volutpat,
                etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat. Ridiculus nostra.
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Notice 2 <small>Description text here...</small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="timer">
                            <i class="material-icons">loop</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis neque volutpat,
                etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat. Ridiculus nostra.
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Notice 3 <small>Description text here...</small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="timer">
                            <i class="material-icons">loop</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis neque volutpat,
                etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat. Ridiculus nostra.
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var collection = document.getElementById("stalk_collection");
    collection.style.display = "block";
</script>

{% endblock %}
