{% extends "/harvest_aider/harvest_aider_base.html" %}
{% block content %}

<div class="row clearfix">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-red">
                <i class="material-icons">input</i>
            </div>
            <div class="content">
                <div class="text">NEW REQUESTS GENERATED</div>
                <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">125</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-amber">
                <i class="material-icons">bookmark</i>
            </div>
            <div class="content">
                <div class="text">JOBS SCHEDULED</div>
                <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">257</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-light-green">
                <i class="material-icons">shopping_cart</i>
            </div>
            <div class="content">
                <div class="text">BAILS COLLECTED</div>
                <div class="number count-to" data-from="0" data-to="117" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-light-blue">
                <i class="material-icons">build</i>
            </div>
            <div class="content">
                <div class="text">EQUIPMENTS TO REPAIR</div>
                <div class="number count-to" data-from="0" data-to="1432" data-speed="1500" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    EQUIPMENT MAINTENANCE
                </h2>
            </div>
            <div class="body table-responsive">
            {% if flag == 1 %}
                <div>           
                    <h4> Insert specific equipment for servicing </h4>
                    <form method="POST" action={{ url_for('insert') }}>
                        <label for="specific_equip"><h4> Enter Equipment ID </h4></label>
                        <input type="text" name="specific_equip" id="specific_equip">
                        <br>
                        <!--<button type="submit" class="btn btn-success waves-effect">SUBMIT</button>
                    </form> -->   
                </div>    
                <h2>OR</h2>
                <h4> Insert equipments from the following list</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <td>put for maintenance</td>
                            <td>name of equipment</td>
                            <td>date of servicing</td>
                            <td>contact details of mechanic</td>
                        </tr>
                    </thead>
                    <tbody>
                        <!--<form class="form-control" method="POST" action={{ url_for('insert') }}>-->
                        {% for e in equipments %}
                            <tr>
                                <td>
                                    <input type="checkbox" name="inserted" id={{ e.equip_id }} value={{ e.equip_id }}>
                                    <label for={{ e.equip_id }}></label>
                                </td>
                            <td>{{ e.name_equip }}</td>
                                    <td>{{ e.next_servicing }}</td>
                                <td>{{ e.contact_person }}, {{ e.contact_number }} </td>
                            </tr>
                        {% endfor %}
                    </tbody>    
                </table>
                            <button type="submit" class="btn btn-success waves-effect">Insert</button>
                        </form>
            </div>
            {% elif flag == 0 %}     
                    <table class="table">
                        <thead>
                            <tr>
                                <td>name of equipment</td>
                                <td>contact details of mechanic</td>
                            </tr>
                        </thead>
                        <tbody>
                            <!--<form class="form-control" method="POST" action={{ url_for('insert') }}>-->
                                <tr>
                                    <td>{{ specific_equip.name_equip }}</td>
                                    <td>{{ specific_equip.contact_person }}, {{ specific_equip.contact_number }} </td>
                                </tr>
                        </tbody>    
                    </table>
                </div>
            {% endif %}    
        </div>
    </div>
</div>
    


{% endblock %}