{% extends "/harvest_aider/harvest_aider_base.html" %}
{% block content%}
<div class="row clearfix">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-red">
                <i class="material-icons">input</i>
            </div>
            <div class="content">
                <div class="text">NEW REQUESTS GENERATED</div>
                <div class="number count-to" data-from="0" data-to="15" data-speed="1000" data-fresh-interval="20">15</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-amber">
                <i class="material-icons">bookmark</i>
            </div>
            <div class="content">
                <div class="text">JOBS SCHEDULED</div>
                <div class="number count-to" data-from="0" data-to="5" data-speed="1000" data-fresh-interval="20">5</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-light-green">
                <i class="material-icons">shopping_cart</i>
            </div>
            <div class="content">
                <div class="text">BALES COLLECTED</div>
                <div class="number count-to" data-from="0" data-to="167" data-speed="1000" data-fresh-interval="20">167</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box hover-zoom-effect">
            <div class="icon bg-light-blue">
                <i class="material-icons">build</i>
            </div>
            <div class="content">
                <div class="text">EQUIPMENTS TO REPAIR</div>
                <div class="number count-to" data-from="0" data-to="2" data-speed="1500" data-fresh-interval="20">2</div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    JOBS SCHEDULED FOR TODAY
                </h2>
            </div>
            <div class="body table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>COLLECTOR NAME</th>
                            <th>FARMER NAME</th>
                            <th>AREA</th>
                            <th>STATUS</th>
                            <th>BALES OF STALK</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Ram</td>
                            <td>Shivam</td>
                            <td>8</td>
                            <td>Completed</td>
                            <td>87</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Rajesh</td>
                            <td>Shiv</td>
                            <td>5</td>
                            <td>Completed</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Amar</td>
                            <td>Meenabai</td>
                            <td>2</td>
                            <td>Completed</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Gajendra</td>
                            <td>Rajashree</td>
                            <td>4</td>
                            <td>Incomplete</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Amar</td>
                            <td>Vallabh</td>
                            <td>6</td>
                            <td>Incomplete</td>
                            <td>--</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var collection = document.getElementById("home");
    collection.classList.add("active")
    var collection = document.getElementById("allocate_collector");
    collection.style.display = "block";
    var collection = document.getElementById("equip_maintenance");
    collection.style.display = "block";
    var collection = document.getElementById("request_truck");
    collection.style.display = "block";
    var collection = document.getElementById("report_gen_harvest");
    collection.style.display = "block";
</script>

{% endblock %}