<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>ETHANOWELL</title>
    <!-- Favicon-->
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='plugins/bootstrap/css/bootstrap.css') }}">

    <!-- Waves Effect Css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='plugins/node-waves/waves.css') }}">

    <!-- Animation Css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='plugins/animate-css/animate.css') }}">

    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/themes/all-themes.css') }}">
</head>

<body class="theme-light-green">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                    aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="index.html">ETHANOWELL</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="{{ url_for('static',filename='images/user.png') }}" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% print(session['username']) %}
                    </div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <!-- <li role="separator" class="divider"></li> -->
                            <li><a href={{ url_for('logout') }}><i class="material-icons">input</i>Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2018 - 2019 <a href="javascript:void(0);">ETHANOWELL</a>
                </div>
                <!-- <div class="version">
                    <b>Version: </b> 1.0.5
                </div> -->
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
            {% block content %}

            {% endblock %}
        </div>
    </section>

    <div class="modal fade" id="allocate" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="alocateLabel">Allocate Collectors</h4>
                </div>
                <div class="modal-body">
                    Would you like to allocate Collectors?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect bg-light-green" data-dismiss="modal">YES</button>
                    <button type="button" class="btn btn-link waves-effect bg-grey" data-dismiss="modal">NO</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="requesting_truck" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Request Collection of Stalk Bales</h4>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        <label for="stalk_no">Bales of Stalk</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="stalk_no" name="stalk_no" class="form-control" placeholder="Enter the number of bales">
                            </div>
                        </div>
                        <label for="collection_date">Date of Collection</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="date" id="collection_date" name="collection_date" class="form-control">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary waves-effect" style="float:right;">SUBMIT</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Jquery Core Js -->
    <script src="{{ url_for('static',filename='plugins/jquery/jquery.min.js') }}"></script>

    <!-- Bootstrap Core Js -->

    <script src="{{ url_for('static',filename='plugins/bootstrap/js/bootstrap.js') }}"></script>

    <!-- Select Plugin Js -->
    <!-- <script src="{{ url_for('static',filename='plugins/bootstrap-select/js/bootstrap-select.js') }}"></script> -->

    <!-- Slimscroll Plugin Js -->
    <script src="{{ url_for('static',filename='plugins/jquery-slimscroll/jquery.slimscroll.js') }}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{{ url_for('static',filename='plugins/node-waves/waves.js') }}"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="{{ url_for('static',filename='plugins/jquery-countto/jquery.countTo.js') }}"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="{{ url_for('static',filename='plugins/jquery-sparkline/jquery.sparkline.js') }}"></script>
    <!-- Custom Js -->
    <script src="{{ url_for('static',filename='js/admin.js') }}"></script>
    <script src="{{ url_for('static',filename='js/pages/index.js') }}"></script>

    <!-- Demo Js -->
    <script src="{{ url_for('static',filename='js/demo.js') }}"></script>
</body>

</html>